.h1 {
  font-size: 72px;
  font-weight: normal;
  font-style: normal;
}

.h2 {
  font-size: 64px;
  font-weight: normal;
  font-style: normal;
}

.h3 {
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
}

.h4 {
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
}

.h5 {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
}

.h6 {
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
}

.p {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
}
